<form action="/members/<%=@member.id%>" method="post">
    <label for="first-name">First Name: </label>
    <input name="first_name" id="first-name" type="text" value=<%= @member.first_name%>>

    <label for="last-name">Last Name: </label>
    <input name="last_name" id="last-name" type="text" value=<%= @member.last_name%>>

    <input type="submit" value="Update Member">
</form>