<form action="/members/<%=@member.id%>" method="post">
    <label for="first-name"><h3>First Name: </h3></label>
    <input name="first_name" id="first-name" type="text" value="<%= @member.first_name%>">

    <label for="last-name"><h3>Last Name: </h3></label>
    <input name="last_name" id="last-name" type="text" value="<%= @member.last_name%>">

    <label for="active"><h3>Active Member: </h3></label>
    <input name="active" id="active" type="checkbox" <%= "checked" if @member.active()%>>

    <br>
    <br>
    <br>
    <input type="submit" value="Update Member">
</form>