<h1>Members</h1>

<a href="/members/new">New Member</a>

<ul>
<% for member in @members %>
    <li>
    <p><a href="/members/<%=member.id%>"><%=member.first_name%> <%=member.last_name%></a></p>
    </li>
<hr/>
<% end %>
</ul>