<form action="/members" method="post" autocomplete="off">
    <label for="first-name"><h3>First Name: </h3></label>
    <input name="first_name" id="first-name" type="text">

    <label for="last-name"><h3>Last Name: </h3></label>
    <input name="last_name" id="last-name" type="text">

    <label for="active"><h3>Active Member: </h3></label>
    <input name="active" id="active" type="checkbox">

    <br>
    <br>
    <br>
    <input name="enroll" type="submit" value="Enroll Member">
</form>