<form action="/members" method="post" autocomplete="off">
    <label for="first-name">First Name: </label>
    <input name="first_name" id="first-name" type="text">

    <label for="last-name">Last Name: </label>
    <input name="last_name" id="last-name" type="text">

    <input type="submit" value="Enroll Member">
</form>