<form action="/classes/<%=@gym_class.id%>" method="post">
    <label for="name">Name of Class: </label>
    <input name="name" id="name" type="text" value=<%= @gym_class.name%>>

    <input type="submit" value="Update Class"> 
</form>