<h1>Classes</h1>

<ul>
<% for gym_class in @gym_classes %>
    <li>
    <p><%=gym_class.name%></p>
    <p>Currently enrolled: <ul>
        <% for member in gym_class.members %> 
            <li><%=member.first_name%> <%=member.last_name%>
        <% end %>
    </p>
    </li>
<% end %>
</ul>