<form action="/classes" method="post" autocomplete="off">

<label for="name">Name of Class: </label>
<input name="name" id="name" type="text">

<label for="max-capacity">Max Capacity of Class: </label>
<input name="max_capacity" id="max-capacity" type="number">


<input type="submit" value="Create Class">