<form action="/classes" method="post" autocomplete="off">

<label for="name"><h3>Name of Class: </h3></label>
<input name="name" id="name" type="text">

<label for="max-capacity"><h3>Max Capacity of Class: </h3></label>
<input name="max_capacity" id="max-capacity" type="number">

    <br>
    <br>
    <br>
<input type="submit" value="Create Class">