<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Gime</title>

    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
    <nav>
        <a id="home" href="/home">Home</a>
        <a id="classes" href="/classes">Classes</a>
        <a id="members" href="/members">Members</a>
    </nav> 
    <%= yield %>
</body>
</html>
















</html>