<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Gime</title>
</head>
<body>
    <%= yield %>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/classes">Classes</a></li>
            <li><a href="/members">Members</a></li>
        </ul>
    </nav>
</body>
</html>
















</html>